---
import { skillTitlesEN as skillTitles, skills } from "@content/skills";
---

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('skills', () => ({
            categories: [true, false, false, false, false],
            toggle(id: number) {
                for (let index = 0; index < this.categories.length; index++) {
                    this.categories[index] = false;
                }
                this.categories[id] = !this.categories[id];
            }
        }))
    })
</script>

<div x-data="skills" class="flex flex-col justify-between items-center mx-auto min-h-screen px-6 pt-16">
    <div class="flex flex-col items-center">
        <div
            class="flex flex-col bg-item border-third border-2 py-10 px-4 md:flex-row md:space-x-6 justify-center text-center shadow-lg shadow-item">
            {skillTitles.map((title: string, id: number) => (
            <button x-on:click={`toggle(${id})`} class="p-2" x-bind:class={`categories[${id}] && 'selected-skill'
                `}>{title}</button>
            ))}
        </div>
        {skills.map((skillSet: any, id: number) => (
        <div x-show={`categories[${id}]`} x-transition:enter="transition-all ease-in duration-500"
            x-transition:enter-start="opacity-0 blur-sm translate-x-full"
            x-transition:enter-end="opacity-100 blur-0 translate-x-0" x-cloak>
            <div class="grid grid-cols-2 md:grid-cols-4 text-center mt-6 w-72 md:w-skills">
                {Object.entries(skillSet).map((skill: any) => (
                <div
                    class="px-4 py-6 space-y-4 mx-2 w-32 mt-3 bg-item rounded-xl border-secondary border-2 transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 duration-300 cursor-pointer">
                    <i class={skill[1] + ' text-5xl' }></i>
                    <p class="text-sm">{skill[0]}</p>
                </div>
                ))}
            </div>
        </div>
        ))}
    </div>
</div>

<style scoped>
    .selected-skill {
        @apply border-2 border-highlight text-highlight;
    }
</style>