---
// Section Imports
import Navigation from '@es/Navigation/index.astro';
import Hero from '@es/Hero/index.astro';
import AboutMe from '@es/AboutMe/index.astro';
import Skills from '@es/Skills/index.astro';
import Contacts from '@es/Contact/index.astro';
import Projects from '@es/Projects/index.astro';
import { dataES as head } from '@content/metadata';
import { titlesES as titles, footerES as footer } from '@content/titles';
// Font Imports
import "@fontsource/dotgothic16";
import "@fontsource/jetbrains-mono";
---
<!DOCTYPE html>
<html lang={head.lang}>

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/ant.png" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
		href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
	<noscript>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css">
		</noscript>
	<meta name="description" content={head.description}>
	<title>{head.title}</title>
	<script src="@scripts/main.js"></script>
</head>



<body class="overflow-hidden">
	<!-- Loading Circle -->
	<div id="loading"
		class="flex fixed z-40 text-center items-center w-full h-full bg-opacity-10 backdrop-filter backdrop-blur-2xl">
		<div role="status" class="flex items-center justify-center h-[20%] w-full">
			<svg aria-hidden="true" class="inline mr-2 w-52 h-52 text-gray-200 animate-spin dark:text-item fill-primary"
				viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
					fill="currentColor" />
				<path
					d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
					fill="currentFill" />
			</svg>
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<!-- Header -->
	<header>
		<Navigation />
	</header>
	<!-- Main Content -->
	<main class="page">
		<!-- Secci贸n principal -->
		<section class="flex flex-col -z-10 md:flex-row justify-between items-center mx-auto">
			<Hero />
		</section>
		<!-- Secci贸n sobre mi -->
		<h2 id={titles.about.id} class="titles">{titles.about.title}</h2>
		<section class="flex flex-col md:flex-row justify-between items-center mx-auto px-6 pt-8">
			<AboutMe />
		</section>
		<!-- Secci贸n de habilidades -->
		<h2 id={titles.skills.id} class="titles">{titles.skills.title}</h2>
		<section>
			<Skills />
		</section>
		<!-- Secci贸n de proyectos -->
		<h2 id={titles.projects.id} class="titles">{titles.projects.title}</h2>
		<section>
			<Projects />
		</section>
		<!-- Secci贸n de contactos -->
		<h2 id={titles.contact.id} class="titles">{titles.contact.title}</h2>
		<section class="p-6 font-sans md:text-xl">
			<Contacts />
		</section>
	</main>
	<!-- Footer -->
	<footer class="footer flex flex-col text-center bg-item p-6">
		<div class="font-bold">
			<p>&copy; 2022 BachaCode</p>
			<p>Website powered by </p>
		</div>
		<p class="italic text-xs">{footer}</p>
	</footer>
</body>

<style is:global>
	* {
		scroll-behavior: smooth;
	}

	body {
		@apply text-secondary bg-body font-text overflow-x-hidden
	}

	h1 {
		@apply mt-8 p-6 text-2xl md:text-6xl font-title text-primary
	}

	h2 {
		@apply mt-8 p-6 text-2xl md:text-6xl font-title text-primary
	}

	p {
		@apply text-sm md:text-base
	}

	::-webkit-scrollbar {
		@apply w-4 h-2 bg-item
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-lg bg-primary
	}

	.section {
		@apply opacity-0 transition-all motion-reduce:transition-none blur-sm duration-1000
	}

	.page {
		@apply overflow-hidden transition-all motion-reduce:transition-none blur-md duration-1000
	}

	.footer {
		@apply overflow-hidden transition-all motion-reduce:transition-none blur-md duration-1000
	}

	.loaded {
		@apply opacity-100 blur-0 overflow-auto;
	}

	.section-about {
		@apply -translate-x-full
	}

	.show {
		@apply opacity-100 blur-0 translate-x-0
	}

	@font-face {
		font-family: 'icomoon';
		src: url('/fonts/icomoon.eot?47t0jb');
		src: url('/fonts/icomoon.eot?47t0jb#iefix') format('embedded-opentype'),
			url('/fonts/icomoon.ttf?47t0jb') format('truetype'),
			url('/fonts/icomoon.woff?47t0jb') format('woff'),
			url('/fonts/icomoon.svg?47t0jb#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}

	[class^="icon-"],
	[class*=" icon-"] {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'icomoon' !important;
		speak: never;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon-alpinejs:before {
		content: "\e900";
		color: #f6f6e9;
	}

	.icon-download:before {
		content: "\e917";
	}

	.icon-burgermenu:before {
		content: "\e901";
	}

	.icon-canva:before {
		content: "\e902";
		color: #f6f6e9;
	}

	.icon-chevdown:before {
		content: "\e903";
	}

	.icon-close:before {
		content: "\e904";
	}

	.icon-css:before {
		content: "\e905";
		color: #f6f6e9;
	}

	.icon-external-link:before {
		content: "\e906";
	}

	.icon-envelope:before {
		content: "\e907";
	}

	.icon-figma:before {
		content: "\e908";
	}

	.icon-git:before {
		content: "\e909";
		color: #f6f6e9;
	}

	.icon-github:before {
		content: "\e90a";
	}

	.icon-html:before {
		content: "\e90b";
		color: #f6f6e9;
	}

	.icon-js:before {
		content: "\e90c";
		color: #f6f6e9;
	}

	.icon-language:before {
		content: "\e90d";
	}

	.icon-laravel:before {
		content: "\e90e";
	}

	.icon-linkedin:before {
		content: "\e90f";
	}

	.icon-mysql:before {
		content: "\e910";
		color: #f6f6e9;
	}

	.icon-php:before {
		content: "\e911";
		color: #f6f6e9;
	}

	.icon-postgresql:before {
		content: "\e912";
		color: #f6f6e9;
	}

	.icon-tailwind:before {
		content: "\e913";
		color: #f6f6e9;
	}

	.icon-terminal:before {
		content: "\e914";
	}

	.icon-vsc:before {
		content: "\e915";
	}

	.icon-vue:before {
		content: "\e916";
		color: #f6f6e9;
	}
</style>
</html>