---
import * as navigation from '@content/es/navigation.md';
---

<script>
document.addEventListener('alpine:init', () => {
        Alpine.data('selectedSection', () => ({
            init(){
                this.updateList()
            },
            updateList() {
                const titles = [...document.querySelectorAll('h2')].sort((a, b) => {
                return Math.abs(a.getBoundingClientRect().top) - Math.abs(b.getBoundingClientRect().top);
                });
                document.querySelectorAll(".selected-option").forEach(c => c.classList.remove("selected-option"));
                document.querySelectorAll(".nav-option")[[...document.querySelectorAll('h2')].indexOf(titles[0])].classList.add("selected-option");
            }
        }))
    })
</script>

<div x-data="selectedSection" x-on:scroll.window.throttle.25ms="updateList" class="hidden md:flex space-x-6 items-center">
    <a href="#" class="nav-option hover:transition-all hover:text-highlight hover:border-b-2 hover:border-b-highlight">{navigation.frontmatter.home}</a>
    <a href="#about-me" class="nav-option hover:transition-all hover:text-highlight hover:border-b-2 hover:border-b-highlight">{navigation.frontmatter.aboutMe}</a>
    <a href="#skills" class="nav-option hover:transition-all hover:text-highlight hover:border-b-2 hover:border-b-highlight">{navigation.frontmatter.skills}</a>
    <a href="#projects" class="nav-option hover:transition-all hover:text-highlight hover:border-b-2 hover:border-b-highlight">{navigation.frontmatter.projects}</a>
    <a href="#contacts" class="nav-option hover:transition-all hover:text-highlight hover:border-b-2 hover:border-b-highlight">{navigation.frontmatter.contacts}</a>
    
</div>

<style>
    .selected-option{
			border-bottom-width: 2px;
			--tw-border-opacity: 1;
			border-color: rgb(237 91 45 / var(--tw-border-opacity));
			--tw-text-opacity: 1;
			color: rgb(237 91 45 / var(--tw-text-opacity));
		}
</style>